<style>
    .body{
        margin: auto;
    }
    .input_field {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .input_submit {
      width: 100%;
      background-color: #51919f;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .input_submit:hover {
      background-color: #83cedd;
    }
</style>

{%extends 'base.html'%}
{% block body %}
<div class="body">
    <h1>Welcome to your account page!</h1>

<form action="/deposit" method="POST">

    <input type="tel" name="CARDNUMBER" placeholder="Card number (ex: 1111-2222-3333-4444)" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}" class="input_field" required> <br>
    <input type="number" name="PIN" placeholder="Enter Card 3-digit Pin" pattern="[0-9]{3}" class="input_field" required> <br>
    <input type="text" name="AMT" placeholder="Type amount to be added (ex: $30.45)" class="input_field" required> <br>
    <input type="submit" value="Deposit amount" class="input_submit">

</form>

</div>


{%endblock%}